################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Amortizacion/.vs/Amortizacion
/Amortizacion/src/Amortizacion.Core/bin/Debug/netstandard2.0
/Amortizacion/XUnitTestProject1/bin/Debug/netcoreapp2.1
/Amortizacion/XUnitTestProject1/obj
/Amortizacion/src/Amortizacion.Core/obj
