<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TestAmortization.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <appSettings>
    <!--Datos para validar un calculo de cuota fija-->
    <!--<add key="totalLoan" value="1000" />
    <add key="rate" value=".04" />
    <add key="periodsNumber" value="5" /> 
    <add key="fixCoute" value="224.63" />--> 
    <!--Datos para validar un calculo de cuota fija-->
    <!--<add key="totalLoan" value="12000" />
    <add key="rate" value=".07" />
    <add key="periodsNumber" value="5" /> 
    <add key="fixCoute" value="2926.69" />--> 
    <add key="totalLoan" value="50000" />
    <add key="rate" value=".03" />
    <add key="periodsNumber" value="40" /> 
    <add key="fixCoute" value="2163.12" /> 
  </appSettings>
  <connectionStrings>
    <add name="WingtipToys" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False" />
  </connectionStrings>
</configuration>